<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Place Preferences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Search Preference</string>
			<key>Key</key>
			<string>search_preference</string>
			<key>DefaultValue</key>
			<string>Shelter</string>
			<key>Values</key>
			<array>
				<string>Shelter</string>
				<string>Donations</string>
				<string>Food Bank</string>
			</array>
			<key>Titles</key>
			<array>
				<string>shelter</string>
				<string>donations</string>
				<string>food banks</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Distance Preferences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>distance_slider</string>
			<key>DefaultValue</key>
			<integer>5280</integer>
			<key>MinimumValue</key>
			<integer>5280</integer>
			<key>MaximumValue</key>
			<integer>528000</integer>
		</dict>
	</array>
</dict>
</plist>
